
*{
    margin: 0;
    padding: 0;
    font-family: Fira Sans;
}
/* banner section start */
.banner-section{
    display: flex;
    height: 560px;
    width: 1280px;
    background-color: #C6E4D6;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 24px;
    padding: 80px 50px ;
    margin-bottom: 80px;
}

.banner-text{
    height: 326px;
    width: 622px;
    margin: 117px  30px;
}
.banner-title{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.banner-sub-title{
    color: rgb(14, 14, 14);
     font-size: 56px;
    font-weight: 700;
    margin-bottom: 24px;

}
.banner-btn{
    padding: 17px 34px 17px 34px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    border: none;
}

/* vision section start */
.vision-section{
    width: 1600px;
    margin: 0 auto;
    padding-bottom: 32px;
}
.box-vision{
    width: 1380px;
    margin: 0 auto;
}
.card-section{
    display: flex;
}
.card-bg-1{
    width: 410.67px;
 height: 270px;
     padding: 32px;
     border-radius: 16px;
     background: rgba(84, 144, 245, 0.2);
     margin-right: 24px;
 }
 .card-bg-2{
    width: 410.67px;
    height: 270px;
    padding: 32px;
    border-radius: 16px;
    background: rgb(198, 228, 214);
    margin-right: 24px;
}

.card-bg-3{
    width: 410.67px;
    height: 270px;
    padding: 32px;
    border-radius: 16px;
    background: rgb(247, 235, 207);
}
.card-img-1{
    height: 62px;
    width: 62px;
    margin-bottom: 25px;
}
.card-section-title-1{
    color: rgba(14, 14, 14, 0.8);
font-size: 20px;
font-weight: 700;
margin-bottom: 12px;
}


.cared-section-sub-title-1{
 color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
margin-bottom: 24px;
width: 346px;
}
.card-section-btn-1{
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    background: rgb(84, 144, 245);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    border: none;

}
.card-section-btn-2{
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    background: rgb(9, 161, 92);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    border: none;

}
.card-section-btn-3{
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    background: rgb(255, 194, 57);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    border: none;

}
.vision-section-title{
 color: rgb(14, 14, 14);
font-size: 40px;
font-weight: 700;
margin-bottom: 24px;
}
.vision-section-sub-title{
color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
margin-bottom: 32px;
}
/* vision section close  */
/* quote section start */
.quote{
    width: 1380px;
    margin: 0 auto;
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
padding: 48px 24px 48px 24px;
height: 256px;
margin-bottom: 80px;
text-align: left;
}
.body{
    background-color: #F5F5F5;
}
.quote-title{
color: rgba(14, 14, 14, 0.8);
font-size: 16px;
font-weight: 400;
margin-bottom:12px ;


}
.quote-sub-title{
    color: rgba(14, 14, 14, 0.8);
font-size: 20px;
font-weight: 600;
margin-bottom: 4px;

}
.job-title{
    color: rgba(14, 14, 14, 0.6);

font-size: 16px;
font-weight: 400;
}
.back-img{
    background-image: url("assets/quote-bg.png");
    background-position: top left;
    background-repeat: no-repeat;
    position: relative;

}
/* quote section close  */
/* news section start */
.news-section{
    width: 1380px;
    margin: 0 auto;
}
.news-card{
    display: flex;
    flex-direction: row;
}
.news-title{
    color: rgb(14, 14, 14);
font-size: 40px;
font-weight: 700;
margin-bottom: 24px;
}
.news-title-sub{
    color: rgba(14, 14, 14, 0.7);

font-size: 16px;
font-weight: 400;
margin-bottom: 32px;
}
.news-card{
    border-radius: 24px;
background: rgb(255, 255, 255);
width: 1280px;
height: 310px;
padding: 48px;
margin-bottom: 24px;
}
.news-card-image{
    width: 408px;
height: 306px;
border-radius: 24px;
margin: 0 auto;
margin-right: 32px;
margin-left: 32px;
}
.news-card-1-title{
    color: rgba(14, 14, 14, 0.8);
font-size: 32px;
font-weight: 700;
margin-bottom: 12px;
}
.date{
    color: rgba(14, 14, 14, 0.7);

font-weight: 400;
margin: 12px 0;
}
.details{
    margin-bottom: 32px;
    color: rgba(14, 14, 14, 0.7);

font-size: 16px;
font-weight: 400;
}
.news-btn{
    padding: 13px 26px 13px 26px;
    border-radius: 8px;
   background: rgb(0, 106, 80);
   color: rgb(255, 255, 255);

font-size: 18px;
font-weight: 600;
border: none;
}
/* news section close */
/* donate section start */
.donate-section{
    width: 1380px;
    height: 464px;
    margin: 0 auto;
    text-align: center;
}
.donate-title{
    color: rgb(14, 14, 14);

font-size: 40px;
font-weight: 700;

margin-bottom: 24px;
}
.donate-sub-title{
    color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;

text-align: center;
margin-bottom: 32px;
}
.donate-box{
    display:flex ;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}
.taka-1{
padding: 40px;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
margin-right: 24px;
background: rgb(255, 255, 255);
margin-bottom: 32px;
}
.taka-2{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    
    background: rgb(198, 228, 214);
}
#text-1{
    padding: 20px 40px 20px 40px;
    width: 1032px;
height: 34px;
border: none;
color: rgba(14, 14, 14, 0.3);

font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
border-bottom: 1px solid rgba(14, 14, 14, 0.15);
margin-bottom: 32px;

}
.done{
    width: 151px;
    height: 56px;
padding: 17px 34px 17px 34px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.1);
border-radius: 8px;
background: rgb(0, 106, 80);
margin-bottom: 80px;
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}
.done:hover{
    background-color: blue;
}
/* doante section close  */
/* Subscribe Newsletter start */
.newsletter{
    width: 1180px;
    height: 225px;
border-radius: 24px;
padding: 80px 100px 80px 100px;
background: rgb(198, 228, 214);
margin: 0 auto;
justify-content: center;
align-items: center;
text-align: center;
margin-bottom: 50px;
}
.news-text{
    color: rgb(14, 14, 14);

font-size: 40px;
font-weight: 700;

margin-bottom: 16px;
}
.news-tex2{
    width: 622px;
height: 48px;
color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
margin: 0 auto;

}
#email{
    width: 600px;
height: 17px;
padding: 18px 40px 18px 40px;
border-radius: 8px 0px 0px 8px;
border: none;
background: rgb(255, 255, 255);

}



.submit-2{
    width: 150px;
    height: 54px;
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);
    border: none;
    margin-left: -4px;
    color: rgb(255, 255, 255);

font-size: 18px;
font-weight: 600;
margin-bottom: 30px;

}
.submit-2:hover{
    background-color: blue;
}
.ses{
    color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
}
/* Subscribe Newsletter close */

button:hover{
background-color: blue;
}
.taka-2:hover{
    background-color: aquamarine;
}
.taka-3:hover{
    background-color: rgb(170, 16, 132);
}
.taka-4:hover{
    background-color: rgb(17, 219, 152);
}
.taka-5:hover{
    background-color: rgb(100, 7, 58);
}
